# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Ignore SQLite database files
db.sqlite3

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore dynamically generated static files
staticfiles/

# Ignore user-uploaded media files
media/

client_secret_*.json
token.json
